@import "tailwindcss";
@font-face {
    font-family: vazir;
    src: url(/Fonts/Vazir.woff2);
}
@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@theme{
      --font-vazir: "vazir";

  
}